h1 {
    background-color:pink;
    color: white;
}
.first {
    background-color: white;
}
.second {
    color: red;
}
.uu {
    color: red;
}
.third {
    color: white;
    background-color: pink;
}

.ee {
    background-color: #FFF5F5;
}