#first {
    color: rebeccapurple;
}
.second {
    color: rgb(224, 81, 129);
}
.trird {
    color: rgb(224, 81, 129);
}
.fourth {
    color: rgb(0, 174, 255);
}
.fifth {
    color: pink;
    font-weight: 100;
}
.sixth {
    color: gray;
}