*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.linha{
    background-color: #FF1827;
    padding: 12px 120px;
    display: flex;
    justify-content: end;
}

.links-linha{
    display: flex;
    gap: 20px;
}

.links-linha a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.header{
    padding: 20px 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
}

.links-header{
    display: flex;
    gap: 40px;
}

.links-header a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.hero{
    width: 100%;
    background-image: url(./assets/background-hero.png);
    height: 30vw;
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

p{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    width: 980px;
    margin: 0 auto;
}

.first{
    margin-top: 80px;
    margin-bottom: 40px;
}

.second{
    margin-top: 60px;
    margin-bottom: 60px;
}

.cards{
    max-width: 720px;
    display: flex;
    margin: 0 auto;
    gap: 40px;
    justify-content: center;
}

body{
    background-color: #EAEAEA;
}

.card{
    width: 150px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.247);
}

.banner{
    width: 980px;
    height: 400px;
    background-image: url(./assets/background-container.png);
    background-size: cover;
    margin: 60px auto;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner h2{
    color: white;
    font-size: 34px;
    width: 354px;
}

.banner p{
    color: white;
    font-size: 16px;
    width: 304px;
    text-align: left;
    margin: initial;
}

.banner a{
    width: 260px;
    color: black;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    padding: 10px 60px;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
    text-decoration: none;
}