*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    align-items: center;
    padding: 30px 80px;
}

.links{
    display: flex;
    gap: 20px;
}

.links a {
    color: black;
    text-decoration: none;
}

.hero{
    background-color: #767676;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #D9D9D9;
    text-align: center;
    padding: 20px 0px;
}