.quadrado {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
} 

h4 {
    text-align: center;
    line-height: 100px;
}
.quadrada {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 238, 0);
    margin: auto;
}

h4 {
    text-align: center;
    line-height: 100px;
}

.quadradu {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: auto;
}

h4 {
    text-align: center;
    line-height: 100px;
}

.firsh {
    color: white;
    font-size: 43;
    font-weight: 18;
}

.second {
    color: white;
    font-size: 79;
    font-weight: 18;
}

.third {
    color: white;
    font-size: 40;
    font-weight: 18;
}
