.cartao {
    background-color: #FFAAAA;
    padding: 20px;
    border-radius: 20px;
    width: 260px;
}

h1 {
    font-size: 16px;
    color: #FF0000;
}

p { 
    font-size: 12px;
    color: black;
}

span {
    font-size: 12px;
    color: #FF0000;
}